/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 *= require_tree .
 */

body {
  background: #0F106A;
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px;
  color:white;
}

#body, #side_body ,#side{
  float: left;
  width: 45%;
  background: white;
  color: #333;
  padding: 20px;
}


/*Titulo de pagina*/
#body_content_title {
  color:white;
  font-size: 500%;

}



/* The Navigation Dropdown Menu */ 

.clearfix ul ul {
  display: none;
}

  .clearfix ul li:hover > ul {
    display:block;
  }

.clearfix ul {
  background: #FFA314; 
  /*
  background: linear-gradient(top, #F17B21 0%, #bbbbbb 100%);  
  background: -moz-linear-gradient(top, #F17B21 0%, #bbbbbb 100%); 
  background: -webkit-linear-gradient(top, #F17B21 0%,#bbbbbb 100%); 
*/
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);

  padding: 0 20px;
  border-radius: 10px;  
  list-style: none;
  position: relative;
  display: inline-table;

}


  .clearfix ul:after {
    content: ""; clear: both; display: block;
  }

.clearfix ul li {
  float: left;
}
  .clearfix ul li:hover {
    background: #0F106A;
    
    /*
    background: linear-gradient(top, #0F106A 0%, #5f6975 90%);
    background: -moz-linear-gradient(top, #0F106A 0%, #5f6975 90%);
    background: -webkit-linear-gradient(top, #0F106A 0%,#5f6975 90%);
*/    

  }
    .clearfix ul li:hover a {
      color: #fff;
    }
  
  .clearfix ul li a {
    display: block; padding: 25px 40px;
    color: #0F106A; text-decoration: none; font-size: large;
  }

  .clearfix ul ul {
  background: #0F106A; border-radius: 0px; padding: 0;
  position: absolute; top: 100%;
}
  .clearfix ul ul li {
    float: none; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
  }
    .clearfix ul ul li a {
      padding: 15px 40px;
      color: #fff;
    } 
      .clearfix ul ul li a:hover {
        background:  #FFA314; 
        color:#0F106A;
      }

  .clearfix ul ul ul {
  position: absolute; left: 100%; top:0;
}

/*The Banner*/

#banner {
  background-color: #852A2C;
  padding: 20px 100px;
  font-weight: normal;
  font-style: italic;
  color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#A03133), to(#722324));
  background: -moz-linear-gradient(top,  #A03133, #722324);
  -moz-box-shadow: 0 2px 8px 2px #000;
  -webkit-box-shadow: 0 2px 6px 2px #000;
  margin-bottom: 30px;
  p {
    margin: 0;
    padding-top: 32px;
    font-size: 34px;
    &.font-size-small {
      padding-top: 10px;
      font-size: 20px;
      color: #EAA29F;
    }
  }
}